*{
    background-color: aquamarine;
    font-family: "Times New Roman" ,sans-serif;
}

#topic{
    color: red;
    font-size: 32px;
    text-align: center;
}

.links{
    color: blue;
    font-size: 24px;

}




